{{> header}}

		<h1 class="text-center">Welcome to Procrastinot!</h1>
		<p>Welcome to Procrastinot! You can navigate through the app using the buttons at the bottom of the screen!</p>

		{{#each buttons}}
		<div class="row">
<<<<<<< HEAD
			<div class="col-xs-3">
				<a href="{{url}}"><img src="resources/{{imgFile}}" class="img-responsive" /></a>
=======
			<div class="col-xs-1">
				<a href="{{url}}"><img src="resources/{{imgFile}}"  class="navButton img-responsive" /></a>
>>>>>>> e2cfb793e02ff08b6653238fe697f234f59e2fe1
			</div>
			<div class="col-xs-9">
				<h2>{{name}}</h2>
				<p>{{description}}</p>
			</div>
		</div>
		{{/each}}
		

		</form>

		

{{> footer}}