
{{> header}}

<h1>LEADERBOARDS</h1>

<table class="leaderboardTable">

{{#each friends}}
		
				
			
			<tr class="leaderboardRow"><td><a href="{{profile}}"><img src="{{imageURL}}" class="friendTableImage" /></a>{{name}}</td><td>Points: {{points}}</td><td>Level: {{level}}</td></td>
		
		{{/each}}
	</table>

	




	<a href="/">"Go back"</a>
{{> footer}}