<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48665826-1', 'procrastinot.herokuapp.com');
  ga('send', 'pageview');

</script>

{{> header}}
<div class="col-xs-1">
	<button id="helpBtn" class="btn btn-default">Help</button>
</div>

<h1 class="text-left">Profile</h1>

<div class="row">
	<div class="col-xs-3">
		<img src="http://upload.wikimedia.org/wikipedia/commons/0/09/Man_Silhouette.png" class="profilePic img-responsive" />
	</div>
	<div class="col-xs-9">
		<table>
			<tr><td>Name:</td><td id="username">Loading...</td></tr>
			<tr><td>Level:</td><td>{{level}}</td></tr>
			<tr><td>Points:</td><td>{{points}}</td></tr>
		</table>
	</div>
	
	


	</div>

<!-- People don't want to see projects on their profile!
<a href="/projects"><h3>Current Projects</h3></a>
<table class="projectTable">
	<tr><td>Name</td><td>Due</td><td>&#x2713;</td></tr>

{{#each currentProjects}}
	<tr class="projectRow"><td>{{name}}</td><td>{{dueDate}}</td><td class="projectCompleteBox"></td></tr>
{{/each}}
</table>

<h3>Recently Completed</h3>
<table class="projectTable">
	<tr><td>Name</td><td>Points</td><td>Completed</td></tr>
{{#each recentProjects}}
	<tr class="projectRow" href="/addProject?"><td>{{name}}</td><td>{{points}}</td><td>{{completeDate}}</td></tr>
{{/each}}
</table>
-->

{{#if isCurrUser}}
<h3>Friends</h3>
<div class="collection" id ="friendCollection">
</div>
{{/if}}

<script>var fbID = "{{fbID}}";</script>
<script src="js/projectTable.js"></script>
<script src="js/profileFunc.js"></script>
{{> footer}}