{{> header}}
<div class="col-xs-1">
			<form id="gotohelp" role="form" method="get" action="/help">
	    		<input type="submit" id="submitBtn" class="btn btn-default" value="Help"></input>
			</form>
		</div>

<h1 class="text-left">Profile</h1>

<div class="row">
	<div class="col-xs-3">
		<img src="http://upload.wikimedia.org/wikipedia/commons/0/09/Man_Silhouette.png" class="profilePic img-responsive" />
	</div>
	<div class="col-xs-9">
		<table>
			<tr><td>Name:</td><td id="username">Loading...</td></tr>
			<tr><td>Level:</td><td>{{level}}</td></tr>
			<tr><td>Points:</td><td>{{points}}</td></tr>
		</table>
	</div>
	
	


	</div>

<!-- People don't want to see projects on their profile!
<a href="/projects"><h3>Current Projects</h3></a>
<table class="projectTable">
	<tr><td>Name</td><td>Due</td><td>&#x2713;</td></tr>

{{#each currentProjects}}
	<tr class="projectRow"><td>{{name}}</td><td>{{dueDate}}</td><td class="projectCompleteBox"></td></tr>
{{/each}}
</table>

<h3>Recently Completed</h3>
<table class="projectTable">
	<tr><td>Name</td><td>Points</td><td>Completed</td></tr>
{{#each recentProjects}}
	<tr class="projectRow" href="/addProject?"><td>{{name}}</td><td>{{points}}</td><td>{{completeDate}}</td></tr>
{{/each}}
</table>
-->

{{#if isCurrUser}}
<h3>Friends</h3>
<div class="collection" id ="friendCollection">
</div>
{{/if}}

<script>var fbID = "{{fbID}}";</script>
<script src="js/projectTable.js"></script>
<script src="js/profileFunc.js"></script>
{{> footer}}